<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>ProjectWebBanRau</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ClassifyProduct</display-name>
    <servlet-name>ClassifyProduct</servlet-name>
    <servlet-class>controler.ClassifyProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassifyProduct</servlet-name>
    <url-pattern>/ClassifyProduct</url-pattern>
    <url-pattern>/classify</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>controler.SignInServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>controler.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/signUp</url-pattern>
  </servlet-mapping>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/SignIn.jsp</form-login-page>
      <form-error-page>/SignInError.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <servlet>
    <description></description>
    <display-name>DescribeProduct</display-name>
    <servlet-name>DescribeProduct</servlet-name>
    <servlet-class>controler.DescribeProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DescribeProduct</servlet-name>
    <url-pattern>/DescribeProduct</url-pattern>
    <url-pattern>/describe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SortProduct</display-name>
    <servlet-name>SortProduct</servlet-name>
    <servlet-class>controler.SortProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortProduct</servlet-name>
    <url-pattern>/SortProduct</url-pattern>
    <url-pattern>/sort</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindProduct</display-name>
    <servlet-name>FindProduct</servlet-name>
    <servlet-class>controler.FindProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProduct</servlet-name>
    <url-pattern>/FindProduct</url-pattern>
    <url-pattern>/lookup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Move_it_to_cart</display-name>
    <servlet-name>Move_it_to_cart</servlet-name>
    <servlet-class>controler.Move_it_to_cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Move_it_to_cart</servlet-name>
    <url-pattern>/Move_it_to_cart</url-pattern>
    <url-pattern>/tocart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment</display-name>
    <servlet-name>Payment</servlet-name>
    <servlet-class>controler.Payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/Payment</url-pattern>
    <url-pattern>/pay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Manauser</display-name>
    <servlet-name>Manauser</servlet-name>
    <servlet-class>controler.Manauser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Manauser</servlet-name>
    <url-pattern>/Manauser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>recoverPassword</display-name>
    <servlet-name>recoverPassword</servlet-name>
    <servlet-class>controler.recoverPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recoverPassword</servlet-name>
    <url-pattern>/recoverPassword</url-pattern>
    <url-pattern>/forgetpassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>controler.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
    <url-pattern>/changepass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderProducts</display-name>
    <servlet-name>OrderProducts</servlet-name>
    <servlet-class>controler.OrderProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderProducts</servlet-name>
    <url-pattern>/OrderProducts</url-pattern>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
</web-app>